flow.json
[
    {
        "id": "c64b73605173e8a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4330611.11d488",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b70590d4.014528",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9bd3a91.a8f7c",
        "type": "tab",
        "label": "zeromq demo",
        "disabled": true,
        "info": "zeromq demo flow"
    },
    {
        "id": "136789e3.a6cd76",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#7b219f",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#7b219f",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7b219f",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a837d5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#7b219f",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a927b038.cc144",
        "type": "ui_group",
        "name": "Chiller 1",
        "tab": "552bcd8c.71a284",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e65b306e.d34778",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d6eff413da9833cb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "552bcd8c.71a284",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4bb29eacfeb14722",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b34078e6.e60df8",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "7732812bd9569c0b",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "552bcd8c.71a284",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "1d4f010b1d0cfae4",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "552bcd8c.71a284",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "1c3398ff1a94e8dd",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "552bcd8c.71a284",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "edbfcea9ca6c6460",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a927b038.cc144",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "d6eff413da9833cb",
        "type": "ui_tab",
        "name": "Power",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36fb4c54.384434",
        "type": "inject",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "mytopic",
        "payload": "{\"hello\":\"world\"}",
        "payloadType": "json",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "96201f4b.f0f91"
            ]
        ]
    },
    {
        "id": "b1987961.c4d8e8",
        "type": "debug",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "ea29a521.2cb4c8",
        "type": "zeromq in",
        "z": "e9bd3a91.a8f7c",
        "name": "All topics",
        "topic": "",
        "fields": "topic,payload",
        "server": "tcp://127.0.0.1:5555",
        "output": "json",
        "isserver": false,
        "intype": "sub",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "b1987961.c4d8e8"
            ]
        ]
    },
    {
        "id": "96201f4b.f0f91",
        "type": "zeromq out",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "topic": "",
        "fields": "topic,payload",
        "server": "tcp://*:5555",
        "isserver": true,
        "intype": "pub",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "4bc91640.65c4f8",
        "type": "inject",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "bool",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "96201f4b.f0f91"
            ]
        ]
    },
    {
        "id": "68ea1fa4.74878",
        "type": "inject",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "wulfkit",
        "payload": "woof",
        "payloadType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "96201f4b.f0f91"
            ]
        ]
    },
    {
        "id": "622fcd8a.1bfc04",
        "type": "inject",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "num",
        "payload": "999",
        "payloadType": "num",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "96201f4b.f0f91"
            ]
        ]
    },
    {
        "id": "b1c97e2b.cf845",
        "type": "debug",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "2cefd6b.8b87f2a",
        "type": "zeromq in",
        "z": "e9bd3a91.a8f7c",
        "name": "Topics starting with \"my\"...",
        "topic": "my",
        "fields": "topic,payload",
        "server": "tcp://127.0.0.1:5555",
        "output": "json",
        "isserver": false,
        "intype": "sub",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "b1c97e2b.cf845"
            ]
        ]
    },
    {
        "id": "646a8f9d.beebe",
        "type": "inject",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "mybuffer",
        "payload": "",
        "payloadType": "str",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "66c3fe79.7a99f"
            ]
        ]
    },
    {
        "id": "66c3fe79.7a99f",
        "type": "function",
        "z": "e9bd3a91.a8f7c",
        "name": "make buffer",
        "func": "msg.payload = new Buffer.from([\"0x48\",\"0x45\",\"0x4C\",\"0x4C\",\"0x4F\"]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "96201f4b.f0f91"
            ]
        ]
    },
    {
        "id": "6b7901bc.8a1c3",
        "type": "inject",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "76294a30.178044"
            ]
        ]
    },
    {
        "id": "23cf851d.0d7c2a",
        "type": "zeromq out",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "topic": "",
        "fields": "payload",
        "server": "tcp://*:4444",
        "isserver": true,
        "intype": "push",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "4ba6aced.b853a4",
        "type": "zeromq in",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "topic": "",
        "fields": "payload",
        "server": "tcp://127.0.0.1:4444",
        "output": "json",
        "isserver": false,
        "intype": "pull",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "c138fcb6.4e343"
            ]
        ]
    },
    {
        "id": "c138fcb6.4e343",
        "type": "debug",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "76294a30.178044",
        "type": "template",
        "z": "e9bd3a91.a8f7c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "outlaw-payload: {{payload}} !",
        "output": "str",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "23cf851d.0d7c2a"
            ]
        ]
    },
    {
        "id": "954ea747.50cd7",
        "type": "debug",
        "z": "a4330611.11d488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "1109e302.93772d",
        "type": "ui_ui_control",
        "z": "a4330611.11d488",
        "name": "",
        "events": "all",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "b0dad8be.d41d48"
            ]
        ]
    },
    {
        "id": "fcc4adf7.fb949",
        "type": "ui_gauge",
        "z": "a4330611.11d488",
        "name": "",
        "group": "a927b038.cc144",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "kW",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0dad8be.d41d48",
        "type": "ui_button",
        "z": "a4330611.11d488",
        "name": "",
        "group": "a927b038.cc144",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7aa53509.8e2c54",
        "type": "ui_switch",
        "z": "a4330611.11d488",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a927b038.cc144",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "1109e302.93772d"
            ]
        ]
    },
    {
        "id": "6a0ebd98.b21484",
        "type": "ui_slider",
        "z": "a4330611.11d488",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a927b038.cc144",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "10000",
        "step": "7",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "fcc4adf7.fb949",
                "8418aa27.f7c608"
            ]
        ]
    },
    {
        "id": "8418aa27.f7c608",
        "type": "smxstate",
        "z": "a4330611.11d488",
        "name": "",
        "xstateDefinition": "// Available variables/objects/functions:\n// xstate\n// - .Machine\n// - .interpret\n// - .assign\n// - .send\n// - .sendParent\n// - .spawn\n// - .raise\n// - .actions\n//\n// Common\n// - setInterval, setTimeout, clearInterval, clearTimeout\n// - node.send, node.warn, node.log, node.error\n// - context.get, context.set\n// - flow.get, flow.set\n// - env.get\n// - util\n\nconst { assign } = xstate;\n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\nconst maxValueReached = (context, event) => {\n  return context.counter >= 10;\n};\n\n/**\n * Actions\n */\nconst incrementCounter = assign({\n  counter: (context, event) => context.counter + 1\n});\n\nconst resetCounter = assign({\n  counter: (context, event) => {\n    // Can send log messages via\n    //  - node.log\n    //  - node.warn\n    //  - node.error\n    //node.warn(\"RESET\");\n\n    // Can send messages to the second outport\n    // Specify an array to send multiple messages\n    // at once\n    //  - node.send(msg)\n    node.send({ payload: \"resetCounter\" });\n    \n    return 0;\n  }\n});\n\n/**\n * Activities\n */\nconst doStuff = () => {\n  // See https://xstate.js.org/docs/guides/activities.html\n  const interval = setInterval(() => {\n    node.send({ payload: 'BEEP' });\n  }, 1000);\n  return () => clearInterval(interval);\n};\n\n/***************************\n * Main machine definition * \n ***************************/\nreturn {\n  machine: {\n    context: {\n      counter: 0\n    },\n    initial: 'run',\n    states: {\n      run: {\n        initial: 'count',\n        states: {\n          count: {\n            on: {\n              '': { target: 'reset', cond: 'maxValueReached' }\n            },\n            after: {\n              1000: { target: 'count', actions: 'incrementCounter' }\n            }\n          },\n          reset: {\n            exit: 'resetCounter',\n            after: {\n              5000: { target: 'count' }\n            },\n            activities: 'doStuff'\n          }\n        },\n        on: {\n          PAUSE: 'pause'\n        }\n      },\n      pause: {\n        on: {\n          RESUME: 'run'\n        }\n      }\n    }\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n    guards: { maxValueReached },\n    actions: { incrementCounter, resetCounter },\n    activities: { doStuff }\n  },\n  // Define listeners (can be an array of functions)\n  //    Functions get called on every state/context update\n  listeners: (data) => {\n    //node.warn(data.state + \":\" + data.context.counter);\n  }\n};",
        "noerr": 0,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "954ea747.50cd7"
            ],
            []
        ]
    },
    {
        "id": "c18b532a.41a82",
        "type": "smxstate",
        "z": "b70590d4.014528",
        "name": "",
        "xstateDefinition": "// Available variables/objects/functions:\n// xstate\n// - .Machine\n// - .interpret\n// - .assign\n// - .send\n// - .sendParent\n// - .spawn\n// - .raise\n// - .actions\n//\n// Common\n// - setInterval, setTimeout, clearInterval, clearTimeout\n// - node.send, node.warn, node.log, node.error\n// - context.get, context.set\n// - flow.get, flow.set\n// - env.get\n// - util\n\nconst { assign } = xstate;\n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\nconst maxValueReached = (context, event) => {\n  return context.counter >= 10;\n};\n\n/**\n * Actions\n */\nconst incrementCounter = assign({\n  counter: (context, event) => context.counter + 1\n});\n\nconst resetCounter = assign({\n  counter: (context, event) => {\n    // Can send log messages via\n    //  - node.log\n    //  - node.warn\n    //  - node.error\n    //node.warn(\"RESET\");\n\n    // Can send messages to the second outport\n    // Specify an array to send multiple messages\n    // at once\n    //  - node.send(msg)\n    node.send({ payload: \"resetCounter\" });\n    \n    return 0;\n  }\n});\n\n/**\n * Activities\n */\nconst doStuff = () => {\n  // See https://xstate.js.org/docs/guides/activities.html\n  const interval = setInterval(() => {\n    node.send({ payload: 'BEEP' });\n  }, 1000);\n  return () => clearInterval(interval);\n};\n\n/***************************\n * Main machine definition * \n ***************************/\nreturn {\n  machine: {\n    context: {\n      counter: 0\n    },\n    initial: 'run',\n    states: {\n      run: {\n        initial: 'count',\n        states: {\n          count: {\n            on: {\n              '': { target: 'reset', cond: 'maxValueReached' }\n            },\n            after: {\n              1000: { target: 'count', actions: 'incrementCounter' }\n            }\n          },\n          reset: {\n            exit: 'resetCounter',\n            after: {\n              5000: { target: 'count' }\n            },\n            activities: 'doStuff'\n          }\n        },\n        on: {\n          PAUSE: 'pause'\n        }\n      },\n      pause: {\n        on: {\n          RESUME: 'run'\n        }\n      }\n    }\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n    guards: { maxValueReached },\n    actions: { incrementCounter, resetCounter },\n    activities: { doStuff }\n  },\n  // Define listeners (can be an array of functions)\n  //    Functions get called on every state/context update\n  listeners: (data) => {\n    //node.warn(data.state + \":\" + data.context.counter);\n  }\n};",
        "noerr": 0,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "fa6592fd.1f677"
            ],
            []
        ]
    },
    {
        "id": "84f6fed9.7da88",
        "type": "finite-state-machine",
        "z": "b70590d4.014528",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"run\":\"RUNNING\"},\"RUNNING\":{\"stop\":\"IDLE\"}}}",
        "sendInitialState": true,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "3fd5278a507999f0"
            ]
        ]
    },
    {
        "id": "fa6592fd.1f677",
        "type": "debug",
        "z": "b70590d4.014528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "a7eaeb9e.739ca8",
        "type": "inject",
        "z": "b70590d4.014528",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "c18b532a.41a82"
            ]
        ]
    },
    {
        "id": "55f90724e449a142",
        "type": "ui_gauge",
        "z": "a4330611.11d488",
        "name": "",
        "group": "4bb29eacfeb14722",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "kW",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "256e60733ec5e3d6",
        "type": "ui_slider",
        "z": "a4330611.11d488",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a927b038.cc144",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "10000",
        "step": "7",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "55f90724e449a142"
            ]
        ]
    },
    {
        "id": "44cce62424c425c5",
        "type": "smxstate",
        "z": "a4330611.11d488",
        "name": "",
        "xstateDefinition": "// Available variables/objects/functions:\n// xstate\n// - .Machine\n// - .interpret\n// - .assign\n// - .send\n// - .sendParent\n// - .spawn\n// - .raise\n// - .actions\n//\n// Common\n// - setInterval, setTimeout, clearInterval, clearTimeout\n// - node.send, node.warn, node.log, node.error\n// - context.get, context.set\n// - flow.get, flow.set\n// - env.get\n// - util\n\nconst { assign } = xstate;\n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\nconst maxValueReached = (context, event) => {\n  return context.counter >= 10;\n};\n\n/**\n * Actions\n */\nconst incrementCounter = assign({\n  counter: (context, event) => context.counter + 1\n});\n\nconst resetCounter = assign({\n  counter: (context, event) => {\n    // Can send log messages via\n    //  - node.log\n    //  - node.warn\n    //  - node.error\n    //node.warn(\"RESET\");\n\n    // Can send messages to the second outport\n    // Specify an array to send multiple messages\n    // at once\n    //  - node.send(msg)\n    node.send({ payload: \"resetCounter\" });\n    \n    return 0;\n  }\n});\n\n/**\n * Activities\n */\nconst doStuff = () => {\n  // See https://xstate.js.org/docs/guides/activities.html\n  const interval = setInterval(() => {\n    node.send({ payload: 'BEEP' });\n  }, 1000);\n  return () => clearInterval(interval);\n};\n\n/***************************\n * Main machine definition * \n ***************************/\nreturn {\n  machine: {\n    context: {\n      counter: 0\n    },\n    initial: 'run',\n    states: {\n      run: {\n        initial: 'count',\n        states: {\n          count: {\n            on: {\n              '': { target: 'reset', cond: 'maxValueReached' }\n            },\n            after: {\n              1000: { target: 'count', actions: 'incrementCounter' }\n            }\n          },\n          reset: {\n            exit: 'resetCounter',\n            after: {\n              5000: { target: 'count' }\n            },\n            activities: 'doStuff'\n          }\n        },\n        on: {\n          PAUSE: 'pause'\n        }\n      },\n      pause: {\n        on: {\n          RESUME: 'run'\n        }\n      }\n    }\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n    guards: { maxValueReached },\n    actions: { incrementCounter, resetCounter },\n    activities: { doStuff }\n  },\n  // Define listeners (can be an array of functions)\n  //    Functions get called on every state/context update\n  listeners: (data) => {\n    //node.warn(data.state + \":\" + data.context.counter);\n  }\n};",
        "noerr": 0,
        "x": 260,
        "y": 680,
        "wires": [
            [
                "acc6aa2a51afe855"
            ],
            []
        ]
    },
    {
        "id": "e2e25dcf88986cff",
        "type": "finite-state-machine",
        "z": "a4330611.11d488",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"run\":\"RUNNING\"},\"RUNNING\":{\"stop\":\"IDLE\"}}}",
        "sendInitialState": true,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 290,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "acc6aa2a51afe855",
        "type": "debug",
        "z": "a4330611.11d488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 680,
        "wires": []
    },
    {
        "id": "4ac90917e3cb1dab",
        "type": "inject",
        "z": "a4330611.11d488",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 60,
        "y": 680,
        "wires": [
            [
                "44cce62424c425c5"
            ]
        ]
    },
    {
        "id": "46e5c213285ff57e",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "e5486bbf99af5013",
                "57868dbddde5f434"
            ]
        ]
    },
    {
        "id": "4f43b51655472e3d",
        "type": "Boolean",
        "z": "c64b73605173e8a5",
        "name": "Random Boolean",
        "kind": "truth",
        "x": 310,
        "y": 920,
        "wires": [
            [
                "1628e4b11d594356"
            ]
        ]
    },
    {
        "id": "b74d40e5ec6afb07",
        "type": "Name",
        "z": "c64b73605173e8a5",
        "name": "Random Name",
        "nameLength": 2,
        "x": 320,
        "y": 980,
        "wires": [
            [
                "69894b683c7bc5ed"
            ]
        ]
    },
    {
        "id": "3f0eda633b932b8b",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1040,
        "wires": []
    },
    {
        "id": "69894b683c7bc5ed",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 980,
        "wires": []
    },
    {
        "id": "1628e4b11d594356",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "e5486bbf99af5013",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "85a255984921c11e",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "46e5c213285ff57e"
            ]
        ]
    },
    {
        "id": "99c0f65b7ca5c5f3",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "4f43b51655472e3d"
            ]
        ]
    },
    {
        "id": "ae5c966609c32772",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "b74d40e5ec6afb07"
            ]
        ]
    },
    {
        "id": "8acb90a53ee60efd",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "3f0eda633b932b8b"
            ]
        ]
    },
    {
        "id": "57868dbddde5f434",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kw_1",
        "group": "a927b038.cc144",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "kW",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "13db97089e7a8925",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "9d15e04f8e1aab17",
                "81be79675b1b747b"
            ]
        ]
    },
    {
        "id": "9d15e04f8e1aab17",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "6ef2fcfcec9147bb",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "13db97089e7a8925"
            ]
        ]
    },
    {
        "id": "81be79675b1b747b",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "10a37ee6b347a4c1",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 890,
        "y": 160,
        "wires": [
            [
                "01bafa62192d9159",
                "3fb5537db3fe4e05"
            ]
        ]
    },
    {
        "id": "01bafa62192d9159",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "06807ba33b771724",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "10a37ee6b347a4c1"
            ]
        ]
    },
    {
        "id": "3fb5537db3fe4e05",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_3",
        "group": "1d4f010b1d0cfae4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "151514fb059d655d",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "7ea450af3a174695",
                "90c742a33e5a97a1"
            ]
        ]
    },
    {
        "id": "7ea450af3a174695",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "1ae9fce2df51fee4",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "151514fb059d655d"
            ]
        ]
    },
    {
        "id": "90c742a33e5a97a1",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_4",
        "group": "1c3398ff1a94e8dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "a3af45a23dc37999",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 1470,
        "y": 160,
        "wires": [
            [
                "51984ec58aecd4d8",
                "767f62d6a9e3616d"
            ]
        ]
    },
    {
        "id": "51984ec58aecd4d8",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 160,
        "wires": []
    },
    {
        "id": "290545038d7de518",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1260,
        "y": 160,
        "wires": [
            [
                "a3af45a23dc37999"
            ]
        ]
    },
    {
        "id": "767f62d6a9e3616d",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "d": true,
        "name": "spare",
        "group": "1c3398ff1a94e8dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1670,
        "y": 240,
        "wires": []
    },
    {
        "id": "444ed6931fe02881",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 1470,
        "y": 280,
        "wires": [
            [
                "b4a98110be34c2d0",
                "c711f311a8645eea"
            ]
        ]
    },
    {
        "id": "b4a98110be34c2d0",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 280,
        "wires": []
    },
    {
        "id": "c90b255fb0493291",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "444ed6931fe02881"
            ]
        ]
    },
    {
        "id": "c711f311a8645eea",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "d": true,
        "name": "name",
        "group": "1c3398ff1a94e8dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1670,
        "y": 360,
        "wires": []
    },
    {
        "id": "cae76b03186cf7d5",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 2050,
        "y": 160,
        "wires": [
            [
                "7654cbeb3bfeeba4",
                "b0cb5d80e6af251e"
            ]
        ]
    },
    {
        "id": "7654cbeb3bfeeba4",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec1d1ba148ad6d26",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1840,
        "y": 160,
        "wires": [
            [
                "cae76b03186cf7d5"
            ]
        ]
    },
    {
        "id": "b0cb5d80e6af251e",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "d": true,
        "name": "spare",
        "group": "1c3398ff1a94e8dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2250,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f934013fd0ecc41",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 2050,
        "y": 280,
        "wires": [
            [
                "e933e864da3f50ee",
                "415c36ef8496836a"
            ]
        ]
    },
    {
        "id": "e933e864da3f50ee",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 280,
        "wires": []
    },
    {
        "id": "aba230be01d9c936",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1840,
        "y": 280,
        "wires": [
            [
                "4f934013fd0ecc41"
            ]
        ]
    },
    {
        "id": "415c36ef8496836a",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "d": true,
        "name": "spare",
        "group": "1c3398ff1a94e8dd",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2250,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f71e1cc04e05517",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "e1741aad15684694",
                "f22d987630840cb9"
            ]
        ]
    },
    {
        "id": "e1741aad15684694",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "e79352a1f913670a",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "2f71e1cc04e05517"
            ]
        ]
    },
    {
        "id": "f22d987630840cb9",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "2f70d758b251249b",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "661af4e6c6ad1948",
                "5aa472a86a1c8d3e"
            ]
        ]
    },
    {
        "id": "661af4e6c6ad1948",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "1a263df058248445",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "2f70d758b251249b"
            ]
        ]
    },
    {
        "id": "5aa472a86a1c8d3e",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "4be92477c67d79b8",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "c5027a826024b9c2",
                "57b5899ccc34c76f"
            ]
        ]
    },
    {
        "id": "c5027a826024b9c2",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "9a5ed1efd6aab816",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "4be92477c67d79b8"
            ]
        ]
    },
    {
        "id": "57b5899ccc34c76f",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "0f91c9e85f24d5d2",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "6955a36914db47c7",
                "ff0adcad3a29d699"
            ]
        ]
    },
    {
        "id": "6955a36914db47c7",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "c742e9739e0eed81",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 680,
        "y": 480,
        "wires": [
            [
                "0f91c9e85f24d5d2"
            ]
        ]
    },
    {
        "id": "ff0adcad3a29d699",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 520,
        "wires": []
    },
    {
        "id": "06a37bb9e33ac966",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 850,
        "y": 560,
        "wires": [
            [
                "17e58c706307f076",
                "e3a941fc968d3a75"
            ]
        ]
    },
    {
        "id": "17e58c706307f076",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 560,
        "wires": []
    },
    {
        "id": "15c93ba92963e4b6",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "06a37bb9e33ac966"
            ]
        ]
    },
    {
        "id": "e3a941fc968d3a75",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 600,
        "wires": []
    },
    {
        "id": "18705787b403b9d0",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 850,
        "y": 640,
        "wires": [
            [
                "989644c933b8add6",
                "8287033571ec1a47"
            ]
        ]
    },
    {
        "id": "989644c933b8add6",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 640,
        "wires": []
    },
    {
        "id": "73302632cb3b67b2",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "18705787b403b9d0"
            ]
        ]
    },
    {
        "id": "8287033571ec1a47",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 680,
        "wires": []
    },
    {
        "id": "abd2302286d20c52",
        "type": "PID",
        "z": "c64b73605173e8a5",
        "name": "PID",
        "setpoint": 21,
        "pb": 1,
        "ti": 9999,
        "td": 0,
        "integral_default": 0.5,
        "smooth_factor": 3,
        "max_interval": 600,
        "enable": 1,
        "disabled_op": 0,
        "x": 1890,
        "y": 660,
        "wires": [
            [
                "e3c978f72a0067e2"
            ]
        ]
    },
    {
        "id": "b5e9abafaae6f648",
        "type": "PIDLoop",
        "z": "c64b73605173e8a5",
        "Kp": 1,
        "Ki": 1,
        "Kd": 1,
        "recalcTime": 5,
        "setPointTopic": "thermostat/setpoint/sp/1",
        "fireTopic": "fire/1",
        "fixedTopic": "fixed/1",
        "fixedValue": 0,
        "deadBand": 1,
        "x": 1900,
        "y": 780,
        "wires": [
            [
                "7ed3cc8be43065cb"
            ],
            [
                "56abb3eca962e28d"
            ]
        ]
    },
    {
        "id": "6e26f6ec2679e803",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "2.5",
        "maximum": "4.0",
        "roundTo": "2",
        "Floor": false,
        "x": 1650,
        "y": 840,
        "wires": [
            [
                "bf4cc95c4f627b80",
                "f9a1df53b35712bf",
                "abd2302286d20c52",
                "b5e9abafaae6f648"
            ]
        ]
    },
    {
        "id": "bf4cc95c4f627b80",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 840,
        "wires": []
    },
    {
        "id": "00ca0547b0f18669",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1480,
        "y": 840,
        "wires": [
            [
                "6e26f6ec2679e803"
            ]
        ]
    },
    {
        "id": "f9a1df53b35712bf",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2180,
        "y": 880,
        "wires": []
    },
    {
        "id": "05c7b92971949ee9",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 1650,
        "y": 920,
        "wires": [
            [
                "61a98ab63d7def2c",
                "5c443ba4daf27ea2"
            ]
        ]
    },
    {
        "id": "61a98ab63d7def2c",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 920,
        "wires": []
    },
    {
        "id": "11d8aa4cd4b06923",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1480,
        "y": 920,
        "wires": [
            [
                "05c7b92971949ee9"
            ]
        ]
    },
    {
        "id": "5c443ba4daf27ea2",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2180,
        "y": 960,
        "wires": []
    },
    {
        "id": "752376edc3173b16",
        "type": "Number",
        "z": "c64b73605173e8a5",
        "name": "Random Number",
        "minimum": "1.0",
        "maximum": "10.0",
        "roundTo": "2",
        "Floor": false,
        "x": 1650,
        "y": 1000,
        "wires": [
            [
                "9ee94e5fab589834",
                "fbc419b9415a7f65"
            ]
        ]
    },
    {
        "id": "9ee94e5fab589834",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 1000,
        "wires": []
    },
    {
        "id": "91df3300075693b4",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.2",
        "payloadType": "num",
        "x": 1480,
        "y": 1000,
        "wires": [
            [
                "752376edc3173b16"
            ]
        ]
    },
    {
        "id": "fbc419b9415a7f65",
        "type": "ui_gauge",
        "z": "c64b73605173e8a5",
        "name": "ch_kW_2",
        "group": "7732812bd9569c0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2180,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e3c978f72a0067e2",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2190,
        "y": 700,
        "wires": []
    },
    {
        "id": "7ed3cc8be43065cb",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2170,
        "y": 780,
        "wires": []
    },
    {
        "id": "56abb3eca962e28d",
        "type": "debug",
        "z": "c64b73605173e8a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2170,
        "y": 740,
        "wires": []
    },
    {
        "id": "5905c32e9e379261",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "Setpoint (SP)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "thermostat/setpoint/sp/1",
        "payload": "2.8",
        "payloadType": "num",
        "x": 1520,
        "y": 780,
        "wires": [
            [
                "b5e9abafaae6f648"
            ]
        ]
    },
    {
        "id": "8c36d5c9169e8678",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "Setpoint (SP)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fire/1",
        "payload": "1",
        "payloadType": "num",
        "x": 1520,
        "y": 720,
        "wires": [
            [
                "b5e9abafaae6f648"
            ]
        ]
    },
    {
        "id": "f22c73bed724394d",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "Setpoint (SP)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "setpoint",
                "v": "2.8",
                "vt": "num"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "setpoint/1",
        "x": 1500,
        "y": 620,
        "wires": [
            [
                "abd2302286d20c52"
            ]
        ]
    },
    {
        "id": "368d21e325d7fd1e",
        "type": "inject",
        "z": "c64b73605173e8a5",
        "name": "Process Variable(PV)",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2.8",
        "payload": "2.8",
        "payloadType": "num",
        "x": 1520,
        "y": 660,
        "wires": [
            [
                "abd2302286d20c52"
            ]
        ]
    },
    {
        "id": "44f01377e4578c21",
        "type": "inject",
        "z": "b70590d4.014528",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "84f6fed9.7da88"
            ]
        ]
    },
    {
        "id": "3fd5278a507999f0",
        "type": "debug",
        "z": "b70590d4.014528",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 120,
        "wires": []
    }
]